<!-- app/views/players/new.html.erb -->
<h1>New Player for <%= @team.name %></h1>

<%= form_for([@team, @player]) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_area :name %><br>

  <%= f.label :surname %><br>
  <%= f.text_area :surname %><br>

  <%= f.submit %>
<% end %>
