<!-- app/views/comments/new.html.erb -->
<h1>New Comment for <%= @post.title %></h1>

<%= form_for([@post, @comment]) do |f| %>
  <%= f.label :content %><br>
  <%= f.text_area :content %><br>

  <%= f.submit %>
<% end %>
